<html>
  <head></head>
  <body>

  	<a href='{{ url_for('getLogin') }}'> Login </a>
  	<br>
  	<a href='{{ url_for('gdisconnect') }}'> Logout </a>
  	<br>
  	<a href='{{ url_for('getCatalog', user_id = login_session['user_id']) }}'> Catalog </a>
  	<br>

  	<p>Login Session, current state: {{ login_session['state'] }}</p>
  	<ul>
  		<li>{{ login_session['username'] }}</li>
  		<li>{{ login_session['email'] }}</li>
  		<li>{{ login_session['access_token'] }}</li>
  		<li>{{ login_session['user_id'] }}</li>
  	</ul>

  	<h1>All current registered users:</h1>

  	{% for user in users %}
  	<ul>
  	  <li>id      : {{ user.id }}</li>
  	  <li>username: {{ user.username }}</li>
  	  <li>email   : {{ user.email }}</li>
  	  <li>picture : {{ user.picture }}</li>
	</ul>
	<br>
	{% endfor %}

  </body>
</html>