<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>A Pen by  John Conway</title>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='getCatalog.css') }}">
</head>

<body>
  <header class="header_container">
    <h1 class="header_item" id="logo">CATALOG</h1>
    <h3 class="header_item" id="header_description">Create, Read, Update, and DESTROY your own Items</h3>
  </header>

  <nav class="nav_container">
    <a href = '{{ url_for('getHomePage') }}' method = 'get' class="nav_item">HomePage</a>
  
    <a href = '{{ url_for('getCreate', id = login_session['user_id'] ) }}' method = 'get' class="nav_item">Create new Item</a>
</nav>

<div class="body_container">
  <div class="body_item" id="body_header">
    <h1>All current user's items:</h1>
  </div>

  {% for item in items %}
  <div class="body_item">
    <p>Name    : {{ item.name }}</p>

    <p>Description   : {{ item.description }}</p>

    <nav>
      <a href='{{ url_for('getUpdate',user_id=login_session['user_id'], item_id=item.id )}}'>EDIT</a> |

      <a href='{{ url_for('getDelete',user_id=login_session['user_id'], item_id=item.id )}}'>DELETE</a> |

      <a href='{{ url_for('getItemJSON',user_id=login_session['user_id'], item_id=item.id )}}'>JSON</a>
    </nav>
  </div>
  {% endfor %}

</div>

<footer class="footer_container" id="footer">
  <div class="footer_item"> By: John Conway   </div>
  <div class="footer_item">
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
      <img src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!"/>
    </a>
  </div>
</footer>
  
  
</body>
</html>
